<div class="content-title">
    <h3 class="d-inline">Sightseeings</h3> 
    <button type="button" class="btn btn-default btn-sm">
            <i class="fas fa-edit"></i>
    </button>
</div>



<div class="activities-container d-flex justify-content-center" style="flex-grow">
    <% @sightseeings[x..y].each do |s| %>
        <div class="card" style="width: 18rem; d-inline-block">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <img class="card-img-top" src="https://pp.userapi.com/c623628/v623628293/219a0/ALJRKn28BMo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%=s.title%></h5>
                    <p class="card-text"><%=s.description%></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
        </div>
    <% end %>
</div>
