<h1>A bunch of Yelp Results</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Star Rating</th>
		</tr>		
	</thead>

	<tbody>
		<% @yelps.each do |y|%>
			<tr>
				<td><%= y["name"] %></td>
				<td><%= y["address"] %></td>
				<td><%= y["star_rating"] %></td>
			</tr>
		<%end%>
	</tbody>
</table>
