<h1>A bunch of Yelp Results</h1>

<div id="columns">
	<% @yelps.each do |y| %>

		<figure>
	  		<%= image_tag y["image_url"] %>
			<figcaption>
				<h4><%= link_to "#{y["name"]}", y['url'] %></h4>		
					This place has a rating of <%= y["rating"] %>
				
			</figcaption>
		</figure>
	
	<% end %>
  
  </div>