<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Make me an adventure</h1>
    <p class="lead">Name something you're looking for, and where you want to find. We'll send our searchign fairies to make some suggestions.</p>
   	<form class="form-inline justify-content-center">
	     I want to look for <input class="form-control mr-sm-2 d-inline-block" type="search" placeholder="Coffee" aria-label="Search" name="type"> in
	     <input class="form-control mr-sm-2 d-inline-block" type="search" placeholder="New York City" aria-label="Search" name="location">
	     <button class="btn my-2 my-sm-0 d-inline-block" style="color: white; background-color: #3ac9c6" type="submit">Search</button>
   	</form>
  </div>
</div>