<h1>Yelp#show</h1>
<p>Find me in app/views/yelp/show.html.erb</p>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Star Rating</th>
		</tr>		
	</thead>

	<tbody>
		<% @response.each do |y|%>
			<tr>
				<td><%= y["name"] %></td>
				<td><%= y["location"]["address1"] %></td>
				<td><%= y["rating"] %></td>
			</tr>
		<%end%>
	</tbody>
</table>

