<div class="container-fluid flex flex-grow back-video">
  
  <div class="container-fluid px-0 my-video">
    <video autoplay muted loop id="myVideo" style="width: 100%"> 
	    <source src="/videos/video.mp4" type="video/mp4">
	  	Your browser does not support HTML5 video.
	</video>
  </div>
  
  <div class=" d-inline-block content" >
		<h1 class="text-center h3 mb-3 font-weight-light text-light"> Welcome to Pegatrip! </h1>
       	<p class="text-center h6 mb-3 font-weight-light text-light"> Your journey starts now! </p>
       	<form class="form-inline justify-content-center">
		     <input class="form-control mr-sm-2 d-inline-block" type="search" placeholder="Search" aria-label="Search">
		     <button class="btn my-2 my-sm-0 d-inline-block" style="color: white; background-color: #3ac9c6" type="submit">Search</button>
       	</form>
  </div> 
  
</div>
		
<h1 class="text-center h3 mb-3 font-weight-light" style="margin-top: 50px "> Let us to take care of your trip! </h1>

<div class="container-fluid d-flex justify-content-center">
	<div class="card-deck text-center" style="margin-top: 4vh; width: 70vw">
	  <div class="card">
	    <img src="activity.jpg" class="card-img-top" alt="...">
	    <div class="card-body">
	      <h5 class="card-title">Activity</h5>
	      <p class="card-text">We will make sure to get the most exciting activities for your unexpected trip! No matter where the lucky wheel will bring you today! </p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	  <div class="card">
	    <img src="food.jpg" class="card-img-top" alt="...">
	    <div class="card-body">
	      <h5 class="card-title">Food</h5>
	      <p class="card-text">You will be always updated with the best restaurants with different cuisine around your location! </p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	  <div class="card">
	    <img src="sightseeing.jpg" class="card-img-top" alt="...">
	    <div class="card-body">
	      <h5 class="card-title">Sightseeing</h5>
	      <p class="card-text">Check the most popular spots and historical places in different countries. Get familiar with its culture and traditions! </p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	</div>
</div>

 <footer style="margin-top: 10vh; margin-left: 5vh">
      <p> <small class="text-muted"> Generate a random trip around the world <br/>
      © Pegatrip Ltd 2019 </small></p>
 </footer>