/*applies to user profile page */
#profilepic{

width:150px; 
height:150px; 
border-radius:50%;

}


.profile {
	width: 50%;
	margin:auto;
	text-align: center;


}

.Edit {
	width: 50%;
	margin:auto;
	text-align: center;

}

.profile-pic-container {
	margin:10px;

}